<form action="/" method="get">
	City: <input type="text" name="city">
	State: <input type="text" name="state">
	<input type="submit" value="Find Weather">
</form>

<h1>Location: <%= "#{@city}, #{@state}" %> </h1>	
<h3><%= @temperature %>° <%= @temp_unit %></h3>
<img src="<%= @image %>">


<% @forecasts.each do |forecast| %>
	<div>
		<h2><%= forecast["day"] %> - <%= forecast["date"] %></h2>	
			<ul>
				<li>High: <%= forecast["high"] %></li>
				<li>Low: <%= forecast["low"] %></li>
				<li>Condition: <%= forecast["text"] %></li>
			</ul>
	</div>
<% end %>
